@page "/Index"

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@attribute [Authorize]

<PageTitle>Index</PageTitle>

EnrollEase System te da la bienvenida.

<AuthorizeView>
    <Authorized>
        <h1>Bienvenido @context.User.Identity!.Name</h1>
    </Authorized>
</AuthorizeView>
